
<h2 class= centered>Here are your Users:</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
    <% @users.all.each do |u| %>
    <tr class= "photo">
      <td><%= u.id %></td>
      <td><%= u.email %></td>
      <td><%= u.password%></td>
    </tr>
    <% end %>
  </table>