
<h2 class= centered>Here are your Users:</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Email</th>
    </tr>
    <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.email %></td>
    </tr>
    <% end %>
  </table>
  
  <ul>
    <li><a href="/users/new">Add a User</a></li>
    <li><a href="/users/edit">Edit a User</a></li>
    <li><a href="/users/delete">Delete a User</a></li>
  </ul>