
  <form action="/users" method= "post">
    <p>Enter user info</p>
    <input type="text" placeholder= "Email" name="user[email]">
    <input type="password" placeholder= "Password" name="user[password]" >
    
    <input type="submit">
  </form>

