
<h2 class= centered>Here is your User:</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Email</th>
    </tr>
    <tr>
      <td><%= @users.id %></td>
      <td><%= @users.email %></td>
    </tr>
  </table>